.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Welcome */
.blur1 {
    position: absolute;
    top: -15rem;
    left: -10rem;
    border-radius: 50%;
    width: 60vw;
    height: 40rem;
    background-color: rgba(0, 255, 115, 0.5);
    box-shadow: 0 0 30px 20px rgba(255, 255, 255, 0.3);
    filter: blur(200px);
    z-index: 0;
}

.blur2 {
    position: absolute;
    bottom: -0rem;
    right: -10rem;
    border-radius: 50%;
    width: 60vw;
    height: 40rem;
    background-color: rgba(153, 0, 255, 0.4);
    box-shadow: 0 0 30px 20px rgba(255, 255, 255, 0.3);
    filter: blur(200px);
    z-index: 0;
}

.welcomeContainer {
    display: flex;
    position: relative;
    justify-content: center;
    width: 80vw;
    height: 100vh;
    margin-top: 6rem;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10rem;
    z-index: 2;
}

.content h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.content p {
    font-weight: 700;
    margin-bottom: 1rem;
}

.welcomeButtons {
    margin: 0 0.5rem;
}

/* What is FTEmulator */
.wifContainer {
    display: flex;
    padding: 8rem 10vw;
    background-color: rgba(0, 26, 255, 0.04);
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  .wifContainer {
    background-color: transparent;
  }
}

.wifText {
    display: flex;
    flex-direction: column;
}

.wifText h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.wfiBennefits {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wfiHalf1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.wfiHalf1Content {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    margin: 0 3vw;
    min-width: max-content;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: 700;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.2));
}

.wfiHalf1Content p {
    margin-right: 1rem;
}

.wfiHalf2 {
    display: flex;
    padding: 0 5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.wfiHalf2Content {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: 700;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.2));
}

.wfiHalf2Content p {
    margin-right: 1rem;
}

/* Intuitive and simple */
.isContainer {
    display: flex;
    width: 100%;
    padding: 8rem 10vw;
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    .wfiHalf1Content, .wfiHalf2Content {
        background-color: rgb(var(--background));
        filter: drop-shadow(0px 0px 10px rgba(var(--foreground), 0.4));
    }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (max-width: 600px) {

}