.container {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.column {
    width: 80vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.2);
}